* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
}

html.dark {
  background-color: #0c0c0c;
  color: #e2e2e2;
  color-scheme: dark;
}

html.light {
  background-color: #f1f1f1;
  color: #1d1d1d;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.custom-bg {
  width: 100%;
  height: 10rem;
  bottom: 50px;
  right: 0;
  background: url(/bg.png) no-repeat bottom right;
  background-size: contain;
  margin-bottom: 0.875rem;
}